@model Blog

@{
    string[] tags = Model.Tags.Split(',', StringSplitOptions.RemoveEmptyEntries);
}

@if (Model != null)
{
    <div class="d-flex flex-row justify-content-between ">
        <h1>@Model.Title</h1>
        <p style="padding-top:16px">
            @Model.CreateDate.ToLongDateString()
        </p>
    </div>
    <hr />

    @Html.Raw(Model.Content)

    <hr />

    <div class="d-flex flex-row justify-content-end ">
        <p class="text-secondary font-weight-bold"><i class="fas fa-eye"></i> @Model.ViewCount</p>
        <p class="text-secondary font-weight-bold  ml-2  mr-2">Puan: @Model.Points</p>
        <a class="text-secondary" asp-area="" asp-controller="Blog" asp-action="Increment" ><i class="fas fa-plus mr-1"></i><i class="fas fa-plus"></i></a>
        <a class="text-secondary ml-3 mr-3" href="#"><i class="fas fa-minus mr-1"></i><i class="fas fa-minus"></i></a>
        <a class="text-secondary" href="#"><i class="fas fa-bookmark"></i></a>
    </div>
    <div class="row"><h5>Etiketler:</h5></div>
    <div class="row tags">
        @foreach (var tag in tags)
        {
            <p class="border border-secondary m-1 bg-secondary text-light pl-2 pr-2 " style="border-radius:20px;font-size:12px">@tag.ToUpper()</p>
        }
    </div>
    <div class="row jumbotron jumbotron-fluid pt-3 pb-3 mt-3" >
        <img class="img-fluid col-2" src="~/UserImages/@Model.User.ProfilePhoto" asp-append-version="true" alt="@Model.User.UserName" />
        <div class="d-flex flex-column justify-content-center col-10">
            <h5>@Model.User.FirstName @Model.User.LastName</h5>
            <p>@Model.User.CreateDate.ToShortDateString() Tarihinde katıldı</p>
            <p>@Model.User.Blogs.Count Adet yazısı mevcut</p>
        </div>
    </div>
    <div class="row">

    </div>
}

@*$("#postSelected").click(function (e) {
        var selectedData = table.getSelectedData();
        var jsonSelectedEmails = JSON.stringify(selectedData);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            url: "/Admin/Home/BilgilendirmeEmails",
            data: {
                json:jsonSelectedEmails
            },
            success: function() {
                toastr.success("Basarili")
            },
            error: function() {
                toastr.error("Silindi")
            }
        });
    });*@

